<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>A little sunshine.ttf</string>
		<string>appleberry.ttf</string>
		<string>Atlantic_Cruise-Demo.ttf</string>
		<string>big_noodle_titling.ttf</string>
		<string>Brain Flower Euro.ttf</string>
		<string>ClaphappyLight.ttf</string>
		<string>DK Lemon Yellow Sun.otf</string>
		<string>Fishfingers.ttf</string>
		<string>Homework Font.ttf</string>
		<string>natwooddraws-Regular.ttf</string>
		<string>orange juice 2.0.ttf</string>
		<string>Rounded Elegance.ttf</string>
		<string>ThrowMyHandsUpintheAirBold.ttf</string>
		<string>TrashHand.TTF</string>
		<string>TravelingTypewriter.ttf</string>
		<string>Walkway Black.ttf</string>
		<string>walter_goes_to_america.ttf</string>
		<string>YouAreJustMyType.ttf</string>
		<string>Comix Loud.ttf</string>
		<string>Le Grimoire du Bonheur.ttf</string>
		<string>steelfish outline.ttf</string>
		<string>Wild Show.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
